.span{
    color: #1C0D0D;
    text-align: center;
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}