@import '../../../asset/theme.scss';


.button{
    flex: 1;
    display: flex;
    padding: 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: $color-pink-100;
    border-radius: 1.5rem;
    overflow: hidden;
    text-align: center;
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* 자연스러운 전환 효과 추가 */
        /* 150% */
    &:hover{
        background-color: $color-pink-200;
        color: $color-pink-100;
    }
}