@use "../../../asset/theme.scss" as *;

.button {
  display: flex;
  min-height: 2.5rem;
  min-width: 5.25rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  transition: filter 0.3s ease;
  gap: 0.5rem;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  filter: brightness(1.2);
}
